$color-white: #F3F7F0;
$color-white-alt: #dfead7;

$color-black: #0d1517;
$color-primary: #19323C;
$color-primary-accent: #2B6C86;
$color-primary-hover: #234654;
$color-disabled: #D9D9D9;

$space-huge: 3rem;
$space-xl: 2rem;
$space-l: 1.5rem;
$space-m: 1rem;
$space-s: .75rem;
$space-xs: .375rem;
$space-tiny: .25rem;

$font-size-title: 1.5rem;
$font-size-l: 1.125rem;
$font-size-text: 0.875rem;
$font-size-small: .75rem;

$font-primary: 'Petrona', serif;

$border-radius: 3rem;
